.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2E9DF;
    padding: 1rem;
}

.header__logo {
    cursor: pointer;
}