.landing-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: centers;
}
.logo {
    display: flex;
    flex-direction: column;
}
.logo-image {
    margin: 2rem 0;
}
.login_btn, .register_btn {
    width: 100px;
    background-color: #EF9445;
    border-radius: 20px;
    border: none;

}
.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

@media (max-width: 768px) {

}